body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
}

header {
  margin-top: 30px;
  text-align: center;
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.skills {
  background-color: #ebebeb;
  margin-top: 30px;
  padding: 10px 0 30px 0;
}

h2 {
  text-align: center;
}

ul {
  width: 500px;
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
}

li {
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  text-align: center;
  color: #fff;
}

#back-html {
  background: linear-gradient(rgba(83, 149, 188, 1),rgb(180, 180, 180));
  border-radius: 50%;
}

#back-css {
  background: linear-gradient(rgba(80, 179, 179, 1),rgb(180, 180, 180));
  border-radius: 50%;
}

#back-jquery {
  background: linear-gradient(rgba(63, 167, 119, 1),rgb(180, 180, 180));
  border-radius: 50%;
}

.works {
  width: 500px;
  margin: 50px auto;
}

.works img {
  width: 500px;
  margin-top: 40px;
}

.works p {
  width: 490px;
  padding-left: 8px;
  border-left: 2px solid rgb(100, 100, 100);
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

button {
  margin: 10px auto;
  background-color: #f7f7f7;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  transition-duration: .3s;
}

.button {
  text-align: center;
}

button:hover {
  background-color: #eeeeee;
}

footer {
  background-color: rgb(0, 90, 100);
  text-align: center;
}

footer p {
  color: #fff;
  padding: 50px;
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {

  ul, .works {
    width: 100vw;
  }

  .works img {
    width: 94vw;
    margin-left: 3vw;
  }

  .works p {
    width: 94vw;
    margin-left: 2vw;
  }

  h3 {
    margin-left: 2vw;
  }

}